html,
body
    margin: 0
    padding: 0
body
    font-family: 'Gilroy Regular', sans-serif
    font-size: 14px
*, *::after, *::before
    box-sizing: border-box
h1,
h2,
h3,
h4,
h5,
h6
    margin: 0
p
    margin: 0
a
    display: inline-block
    text-decoration: none
    color: inherit
    font-family: inherit
    line-height: 100%
button
    padding: 0
    border: none
    outline: none
    background-color: transparent
    cursor: pointer
ul, li
    margin: 0
    padding: 0
    list-style: none
.container
    max-width: 1230px
    margin: 0 auto
    padding: 0 15px
.section-title
    position: relative
    display: inline-block
    padding-right: 93px
    font-family: 'Gilroy Bold'
    font-size: 32px
    line-height: 100%
    color: $text-color
    &::after
        content: ''
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
        width: 80px
        height: 2px
        background-color: $accent-color
.logo
    display: flex
    align-items: center
    &__img
        margin-right: 13px
        width: 32px
        height: 32px
        border-radius: 10px
        background-color: #D9D9D9
    &__text
        font-family: 'Gilroy Bold'
        font-size: 16px
        color: #676767




